.details {
  background-color: white;
  border-radius: 5px;
  min-width: 20rem;
}
.details-title {
  font-size: medium;
  color: #42adfd;
  display: flex;
  align-items: center;
  cursor: pointer;
  /* border: 2px solid red; */
}
.details-title h5 {
  margin-left: 1rem;
}
.details-title img {
  width: 20px;
}
.feels-and-humidity {
  display: flex;
  justify-content: space-around;
  border-top: 0.1em solid lightgray;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  padding-bottom: 1.5rem;
}
.tempreture {
  margin: 0;
  font-size: 4rem;
}
.description {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: larger;
  margin-bottom: 0.5em;
}
.city-country {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-details img {
  height: 10rem;
}

.feels-like {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7em 2em;
}
.feels-like h5 {
  font-size: x-small;
  margin: 0;
  margin-left: 0.3em;
}
.feels-like h3 {
  font-size: medium;
  margin: 0;
  margin-left: 0.3em;
  font-weight: 500;
}

.humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0.1em solid lightgray;
  padding: 0.7em 2em;
}
.humidity h5 {
  font-size: x-small;
  margin: 0;
  margin-left: 0.3em;
}
.humidity h3 {
  font-size: medium;
  margin: 0;
  margin-left: 0.3em;
  font-weight: 500;
}
