.home {
  background-color: white;
  border-radius: 0.3em;
}

.title {
  font-size: medium;
  margin: 0;
  padding: 0.5rem 1rem;
  color: #42adfd;
  display: flex;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.input-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  padding-bottom: 1.5rem;
}
.search {
  height: 2rem;
  width: 15rem;
  padding: 1px;
  text-align: center;
  font-size: small;
  border: 0.1em solid lightgray;
  border-radius: 0.3em;
}

.line {
  width: 100%;
}
.or {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.form input {
  text-align: center;
  padding: 0.4rem;
  border-radius: 5px;
}
.form button {
  margin: 1rem 0;
  padding: 0.4rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(70, 162, 220);
  border: none;
}

.btn {
  height: 2.2rem;
  width: 15rem;
  padding: 1px;
  color: white;
  text-align: center;
  font-size: small;
  background-color: #42adfd;
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
}
